* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 40px 0;
  position: relative;
  background: url("https://images.unsplash.com/photo-1636664396430-e8fd717c96d7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80") center/cover no-repeat;
}

.container .boards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.container .boards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 20px;
  gap: 12px;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  max-width: 400px;
  width: 100%;
  background-color: #ebecf0;
  padding: 24px;
  border-radius: 4px;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.container .boards__item .title {
  color: #323f5c;
  font-size: 20px;
}

.container .boards__item .title:hover {
  outline: 1px solid #c1c7d0;
}

.container .boards__item .card-list {
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.container .boards__item .card-list__item {
  height: 100%;
  cursor: pointer;
  background-color: #fff;
  border-radius: 4px;
  padding: 12px 8px;
  font-size: 16px;
  color: #323f5c;
}

.container .boards__item .form {
  margin-top: auto;
  display: none;
}

.container .boards__item .form .textarea {
  height: 80px;
  width: 100%;
  resize: none;
  border: none;
  border-radius: 4px;
  padding: 12px 8px;
}

.container .boards__item .form .textarea::-webkit-input-placeholder {
  color: #c1c7d0;
  font-size: 16px;
}

.container .boards__item .form .textarea:-ms-input-placeholder {
  color: #c1c7d0;
  font-size: 16px;
}

.container .boards__item .form .textarea::-ms-input-placeholder {
  color: #c1c7d0;
  font-size: 16px;
}

.container .boards__item .form .textarea::placeholder {
  color: #c1c7d0;
  font-size: 16px;
}

.container .boards__item .form .textarea:focus {
  outline: none;
}

.container .boards__item .form .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4px;
}

.container .boards__item .form .buttons__add {
  width: 160px;
  height: 40px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  background-color: #5ac8e7;
  color: #fff;
  cursor: pointer;
}

.container .boards__item .form .buttons__cancel {
  width: 160px;
  height: 40px;
  margin-left: auto;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  background-color: #6d798e;
  color: #fff;
  cursor: pointer;
}

.container .boards__item .add-card {
  width: 100%;
  margin-top: 12px;
  height: 40px;
  background-color: #c1c7d0;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.container .boards__item .add-card span {
  font-size: 24px;
  margin-right: 12px;
}

.container .add-board {
  width: 360px;
  margin-top: 12px;
  height: 40px;
  background-color: #c1c7d0;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  bottom: 40px;
}

.container .add-board span {
  font-size: 24px;
  margin-right: 12px;
}
/*# sourceMappingURL=style.css.map */